<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ScavCaseApp</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div class ="mx-auto"  align="center">
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:href="@{/}">ScavCaseApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/raids}">Twoje raidy</a>
                </li>
                <li class = "nav-item my-2 my-lg-0">
                    <a th:href="@{/logout}" class="btn btn-danger">Wyloguj się</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr>
    <br><br>
    <div>
        <a th:href="@{raids/addRaid}" class="btn btn-outline-info">Dodaj nowy raid</a>
    </div>
    <br><br>
    <hr>
    <table border="1" class="table table-resposive-md table-hover">
        <thead class="thead-dark">
        <tr>
            <th> ID </th>
            <th> KOSZT WYSŁANIA SCAVÓW </th>
            <th> TYP DANEGO PRZEDMIOTU </th>
            <th> WARTOŚĆ ZDOBYTYCH PRZEDMIOTÓW </th>
            <th> ZAKOŃCZONY? </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${userRaidsList.empty}">
            <td colspan="2"> Nie znaleziono raidów </td>
        </tr>
        <tr th:each="userRaid : ${userRaidsList}" style="cursor: pointer"
            th:raidId="${userRaid.id}" th:onclick="rowClicked(this.getAttribute('raidId'))">
            <td><span th:text="${userRaid.id}">  </span></td>
            <td><span th:text="${userRaid.costOfSendingScavs}">  </span></td>
            <td><span th:text="${userRaid.typeOfGivenItem}">  </span></td>
            <td><span th:text="${userRaid.valueOfReceivedItems}">  </span></td>
            <td><span th:text="${userRaid.isCompleted}">  </span></td>

        </tr>
        </tbody>
    </table>
</div>
<script>
    function rowClicked(value) {
        window.location.replace("/raids/" + value);
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"</script>
</body>
</html>